@model IEnumerable<QuanLySinhVien.Models.Teacher>

@{
    ViewData["Title"] = "StudentAssessment";
}

<h1>Student Assessment</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().MSSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GvDanhGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDanhGia)
            </th>
            <th>
                Review
            </th>
            <th>
                Score
            </th>
            <th>
                XepLoai
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model ?? Enumerable.Empty<QuanLySinhVien.Models.Teacher>())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.FirstOrDefault().MSSV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GvDanhGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => DateTime.Now.ToShortDateString())
                </td>
                <td>
                    @if (item.Reviews.Any())
                    {
                        <div>
                            Review: @Html.DisplayFor(modelItem => item.Reviews.First().NoiDungDanhGia)
                        </div>
                    }
                    else
                    {
                        <text>No Review</text>
                    }
                </td>
                <td>
                    @if (item.Reviews.Any())
                    {
                        <div>
                            Score: @Html.DisplayFor(modelItem => item.Reviews.First().MaxScore)
                        </div>
                    }
                    else
                    {
                        <text>No Score</text>
                    }
                </td>
                <td>
                    @if (item.Reviews.Any())
                    {
                        <div>
                            XepLoai: @Html.DisplayFor(modelItem => item.XepLoai)
                        </div>
                    }
                    else
                    {
                        <text>No XepLoai</text>
                    }
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.MSGV">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MSGV">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MSGV">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
